/*=== CONFIGURAÇÕES INICIAIS ===*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #FCF9EA;
}


/*=== HEADER ===*/

.header {
    background-color: #FFA239;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.header-title {
    color: #FCF9EA;
    font-size: 2em;
}

.header-icon {
    font-size: 0.9em;
    margin-right: 10px;
}

.header-nav {
    display: flex;
    gap: 20px;
}

.header-nav-link {
    color: #FCF9EA;
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
}

.header-nav-link:hover {
    transform: translateY(-2px);
    transition: 0.2s;
}


/*=== MAIN ===*/

.main {
    display: flex;
    flex-direction: column;
    padding: 50px 25px;
}

.main-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 100px;
}

.section-title {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


/* === CATEGORIAS === */

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-title {
    margin-bottom: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.category-items {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.category-item {
    background-color: #A8BBA3;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.category-item:hover {
    transform: scale(1.02);
    transition: 0.2s;
    cursor: pointer;
}

.category-item-title {
    color: #FCF9EA;
}

.category-item-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    margin: 15px 0;
}

.category-item-description {
    color: #FCF9EA;
    font-size: 1em;
    text-align: justify;
    margin-bottom: 10px;
}

.category-item-price {
    color: #FCF9EA;
    font-size: 1.2em;
    font-weight: bold;
}


/*=== PEDIDO ===*/

.order-form {
    display: flex;
    flex-direction: column;
    background-color: #A8BBA3;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.order-form-row {
    display: flex;
    gap: 25px;
    padding: 15px;
    justify-content: space-between;
}

.order-form-field-input {
    display: flex;
    align-items: center;
    gap: 10px;
}

.order-form-field-select {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.order-form-label {
    color: #FCF9EA;
    font-size: 1em;
    font-weight: bold;
}

.order-form-input, .order-form-select {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    outline: none;
}

.order-form-input:focus, .order-form-select:focus {
    box-shadow: 0 0 3px #ff9a26;
}

.order-form-button {
    background-color: #FFA239;
    color: #FCF9EA;
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
}

.order-form-button:hover {
    background-color: #ff9a26;
    transform: scale(1.03);
    transition: 0.2s;
}