* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px;
    background: linear-gradient(to bottom, #240655 0%, #110937 100%);
}

.header-icon {
    font-size: 32px;
    color: #db706e;
}

.header-title{
    font-size: 24px;
    font-weight: bold;
    color: #ecebeb;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 80px;
    background: linear-gradient(to bottom, #110937 0%, #240655 100%);
    padding: 20px 180px 80px 180px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.section-title {
    color: #ecebeb;
    text-align: center;
}

.section-text {
    font-size: 18px;
    color: #ecebeb;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.label {
    color:#ecebeb;
    font-size: 18px;
}

.small-text {
    color: #ecebeb;
    font-size: 12px;
}

.upload-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4f476e;
    border-radius: 10px;
    border: 1px dashed #8484a3;
    padding: 30px;
}

@media (min-width: 768px) {
    .upload-box:hover {
        border-color: #db706e;
        cursor: pointer;
    }
}

.upload-icon {
    font-size: 24px;
    color: #db706e;
}

.input-text {
    background-color: #4f476e;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #8484a3;
    color: #ecebeb;
    font-size: 16px;
}

@media (min-width: 768px) {
    .input-text:focus {
        outline: none;
        border-color: #db706e;
    }
}

.form-button {
    background-color: #db706e;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: #110937;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
}

@media (min-width: 768px) {
    .form-button:hover {
        background-color: #dc8685;
        cursor: pointer; 
    }
}

.ticket {
    display: flex;
}

.ticket-left {
    background-color: #4f476e;
    padding: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    border-top: 1px solid #8484a3;
    border-bottom: 1px solid #8484a3;
    border-left: 1px solid #8484a3;
    border-right: 2px dashed #8484a3;
}

.ticket-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.ticket-icon {
    font-size: 18px;
    color: #db706e;
}

.ticket-title {
    font-size: 20px;
    color: #ecebeb;
}

.ticket-date {
    font-size: 12px;
    color: #ecebeb;
    margin-bottom: 15px;
}

.ticket-user {
    display: flex;
    gap: 10px;
    align-items: center;
}

.ticket-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.ticket-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.ticket-name {
    color: #ecebeb;
}

.ticket-github {
    display: flex;
    align-items: center;
    gap: 5px;
}

.github-icon {
    font-size: 14px;
    color: #ecebeb;
}

.github-username {
    font-size: 14px;
    color: #ecebeb;
}

.ticket-right {
    background-color: #4f476e;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top: 1px solid #8484a3;
    border-bottom: 1px solid #8484a3;
    border-right: 1px solid #8484a3;
}

.ticket-code {
    color: #ecebeb;
    transform: rotate(-90deg);
    transform-origin: center;
}

@media (min-width: 1024px){
    .form {
        width: 50%;
    }
}

@media (min-width: 482px) and (max-width: 1023px) {
    .form {
        width: 70%;
    }
}

@media (max-width: 481px) {
    .form {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 40px 20px;
    }

    .main {
        padding: 20px;
    }

    .section-title {
        font-size: 22px;
    }

    .section-text {
        font-size: 16px;
    }

    .label {
        font-size: 16px;
    }

    .ticket-left {
        padding: 10px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        gap: 10px;
        width: 180px;
    }

    .ticket-header {
        gap: 5px;
    }

    .ticket-icon {
        font-size: 16px;
    }

    .ticket-title {
        font-size: 14px;
    }

    .ticket-date {
        font-size: 10px;
        margin-bottom: 10px;
    }

    .ticket-user {
        gap: 5px;
    }

    .ticket-photo {
        width: 30px;
        height: 30px;
    }

    .ticket-info {
        gap: 3px;
    }

    .ticket-name {
        font-size: 14px;
    }

    .ticket-github {
        gap: 3px;
    }

    .github-icon {
        font-size: 12px;
    }

    .github-username {
        font-size: 12px;
        color: #ecebeb;
    }

    .ticket-right {
        padding: 3px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .ticket-code {
        font-size: 12px;
    }
}