/*=== CONFIGURAÇÕES GERAIS ===*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: "Roboto", monospace;
}


/*=== HEADER ===*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
    background-color: #161616;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-icon {
    font-size: 1.5em;
    color: #faf2f2;
}

.header-title {
    font-size: 1.5em;
    color: #faf2f2;
}

.header-nav {
    display: flex;
    gap: 15px;
}

.header-nav-link {
    text-decoration: none;
    color: #faf2f2;
    font-size: 1em;
    font-weight: bold;
}


/*=== MAIN ===*/
.main {
    display: flex;
    flex-direction: column;
}

.main-section {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 80px 80px;
}


/*=== SEÇÃO INÍCIO ===*/

.section-intro {
    flex-direction: column;
    background: linear-gradient(to bottom, #000000 30%, #050612 70%);
}

.intro-title {
    font-size: 2.5em;
    color: #faf2f2;
    text-align: center;
}

.intro-paragraph {
    font-size: 1.5em;
    color: #faf2f2;
    text-align: center;
}

.intro-button-cta {
    background: linear-gradient(90deg, #096e09 0%, #023d02 100%);
    color: #faf2f2;
    text-decoration: none;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 10px;
    width: fit-content;
}

@media (min-width: 768px) {
    .intro-button-cta:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease;
    }
}


/*=== SEÇÃO SOBRE ===*/

.section-about {
    background-color: #161616;
        background: linear-gradient(to bottom, #0a0a0a 0%, #161616 100%);

}

.about-image-product {
    width: 400px;
    border-radius: 20px;
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about-title {
    font-size: 2.5em;
    color: #faf2f2;
    text-align: center;
}

.about-paragraph {
    font-size: 1.5em;
    line-height: 1.5;
    color: #faf2f2;
    text-align: justify;
}


/* === SEÇÃO BENEFÍCIOS ===*/

.section-benefits {
    flex-direction: column;
    background: linear-gradient(90deg, #050612 0%, #000000 100%);
}

.benefits-title {
    font-size: 2.5em;
    color: #faf2f2;
    text-align: center;
}

.benefits-container {
    display: flex;
    gap: 40px;
}

.benefit-card {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.benefit-card-icon {
    font-size: 2.5em;
    color: #faf2f2;
}

.benefit-card-title {
    color: #faf2f2;
}

.benefit-card-description {
    color: #faf2f2;
    line-height: 1.5;
    text-align: justify;
}


/*=== SEÇÃO TECNOLOGIAS ===*/

.section-technologies {
    flex-direction: column;
    background: linear-gradient(90deg, #161616 0%, #0a0a0a 100%);
}

.technologies-title {
    font-size: 2.5em;
    color: #faf2f2;
    text-align: center;
}

.technologies-paragraph {
    font-size: 1.5em;
    line-height: 1.5;
    color: #faf2f2;
    text-align: center;
}

.technologies-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 130px;
    row-gap: 40px;
}

.technology-card {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    border: 1px solid #faf2f2;
    border-radius: 10px;
}

.technology-card-icon {
    font-size: 2em;
    color: #faf2f2;
}

.technology-card-name {
    color: #faf2f2;
}


/*=== SEÇÃO DEPOIMENTOS ===*/

.section-testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    background-color: #050612;
}

.testimonials-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.testimonials-title {
    font-size: 2em;
    color: #faf2f2;
}

.testimonials-paragraph {
    font-size: 1.5em;
    line-height: 1.5;
    color: #faf2f2;
    text-align: center;
}

.testimonial-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    border: 1px solid #faf2f2;
    border-radius: 10px;
}

.testimonial-card-header {
    display: flex;
    align-items: center;
    gap: 10px
}

.testimonial-card-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.testimonial-card-name {
    color: #faf2f2;
}

.testimonial-card-feedback {
    color: #faf2f2;
    font-size: 1.2em;
    line-height: 1.5;
    text-align: justify;
}


/*=== SEÇÃO COMPRA ===*/

.section-buy {
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #0a0a0a 30%, #161616 70%);
}

.buy-title {
    font-size: 2.5em;
    color: #faf2f2;
    text-align: center;
}

.buy-card {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 40px;
    background-color: #faf2f2;
    border-radius: 20px;
}

.buy-card-promotion {
    display: flex;
    flex-direction: column;
}

.buy-card-alert {
    background-color: #aa0202;
    padding: 10px 20px;
    color: #faf2f2;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: bold;
    width: fit-content;
    margin-bottom: 35px;
}

.buy-card-text {
    font-size: 1.3em;
}

.buy-card-price {
    font-size: 3em;
    font-weight: bold;
}

.buy-card-action {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.buy-card-button {
    background: linear-gradient(90deg, #096e09 0%, #023d02 100%);
    color: #faf2f2;
    text-decoration: none;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 10px;
    width: fit-content;
}

@media (min-width: 768px) {
    .buy-card-button:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease;
    }
}


/*=== SEÇÃO CONTATO ===*/

.section-contact {
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, #000000 30%, #050612 70%);
}

.contact-title {
    font-size: 2.5em;
    color: #faf2f2;
}

.contact-form {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: #faf2f2;
    border-radius: 20px;
    gap: 20px;
    width: fit-content;
}

.contact-form-input {
    padding: 15px;
    border: 1px solid #000;
    border-radius: 5px;
    width: 500px;
    font-size: 1em;
}

.contact-form-textarea{
    padding: 15px;
    border: 1px solid #000;
    border-radius: 5px;
    width: 500px;
    height: 150px;
    font-size: 1em;
    font-family: "Roboto", monospace;
}

.contact-form-button {
    background: linear-gradient(90deg, #050612 0%, #000000 100%);
    color: #faf2f2;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    width: fit-content;
}

@media (min-width: 768px) {
    .contact-form-button:hover {
        cursor: pointer;
        transform: scale(1.05);
        transition: transform 0.3s ease;
    }
}


/*=== FOOTER ===*/

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 60px 80px;
    background-color: #faf2f2;
}

.footer-alert {
    background-color: #aa0202;
    padding: 10px 20px;
    color: #faf2f2;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: bold;
    width: fit-content;
}

.footer-cta {
    font-size: 2.5em;
    font-weight: 500;
}

.footer-text {
    font-size: 1.5em;
    line-height: 1.5;
} 