.book-modal {
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.book-modal .section {
    position: relative;
}

.icon-close {
    position: absolute;
    top: 0;
    right: 0;
}