* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'JetBrains Mono', monospace;
    height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100vh;
    background: linear-gradient(to bottom, #14131b 0%, #08070c 100%);
}

.main-titulo {
    font-size: 22px;
    font-weight: 500;
    color: #817f8e;
}

.exibicao-senha {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    padding: 15px 20px;
    background-color: #24232b;
}

.exibicao-senha p {
    font-size: 24px;
    font-weight: 500;
    color: #d5d4db;
}

.exibicao-senha span {
    font-size: 24px;
    color: #6c996f;
}

.exibicao-senha span:hover {
    color: #d5d4db;
    cursor: pointer;
}

.painel-gerador {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 350px;
    padding: 20px;
    background-color: #24232b;
}

.controles {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.controle-tamanho {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.label-tamanho {
    font-size: 16px;
    font-weight: 500;
    color: #d5d4db;
}

.controle-tamanho p {
    font-size: 30px;
    font-weight: 500;
    color: #6c996f;
}

.input-range {
    -webkit-appearance: none;
    appearance: none;
    height: 6px;
    color: #d5d4db;
    background-color: #14131b;
}

.input-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #d5d4db;
    border-radius: 50%;
    cursor: pointer;
    background-color: #d5d4db;
}

.input-range::-webkit-slider-thumb:hover {
    border-color: #6c996f;
    background-color: #14131b;
}

.lista-opcoes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.label-checkbox {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: #d5d4db;
}

.input-checkbox {
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 2px solid #d5d4db;
    appearance: none;
    accent-color: #24232b;
}

.input-checkbox:hover {
    cursor: pointer;
    border-color: #6c996f;
}

.input-checkbox:checked {
    background-color: #6c996f;
    border-color: #6c996f;
}

.input-checkbox:checked::before {
    content: "✔";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #14131b;
    font-size: 14px;
    font-weight: bold;
}

.feedback-seguranca {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: #14131b;
}

.feedback-seguranca-label {
    font-size: 17px;
    font-weight: 550;
    color: #474454;
}

.nivel-seguranca {
    display: flex;
    align-items: center;
    gap: 7px;
}

.nivel-seguranca p {
    font-size: 20px;
    font-weight: 600;
    color: #d5d4db;
}

.nivel-seguranca-barra {
    width: 6px;
    height: 17px;
    border: 1px solid #d5d4db;
}

.botao-gerar-senha {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border: none;
    border: 2px solid #6c996f;

    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
    font-weight: 600;

    color: #24232b;
    background-color: #6c996f;
}

.botao-gerar-senha:hover {
    background-color: #24232b;
    color: #6c996f;
    cursor: pointer;
}