/* ===================== RESET ===================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===================== BASE ===================== */
body {
    font-family: 'Playfair Display', serif;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: #faf2f2;
}

/* ===================== HEADER ===================== */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    font-size: 48px;
}

.icon-menu {
    font-size: 40px;
    display: none;
}

.icon-close {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 25px; 
    opacity: 0.7;
    display: none;
}

.nav {
    display: flex;
}

.nav a {
    padding: 5px 10px;
    color: #333;
}

/* ===================== MAIN ===================== */
.main {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* ===================== SECTION NEW ===================== */
.section-new {
    display: flex;
    gap: 20px;
}

/* ARTICLE */
.new-article {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.new-article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.new-article-content {
    display: flex;
    gap: 20px;
}

.new-article-content h2 {
    width: 50%;
    font-size: 40px;
}

.new-article-details {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.new-article-details p {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    text-align: justify;
    color: #333;
}

.new-article-details a {
    width: fit-content;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    background-color: #db706e;
    color: #111533;
}

/* ASIDE */
.new-aside {
    width: 30%;
    padding: 30px 20px;
    background-color: #111533;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

.new-aside h2 {
    font-size: 28px;
    color: #b89b3e;
}

.aside-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.aside-item img {
    display: none;
}

.aside-item h3 {
    color: #f0f0f0;
}

.aside-item p {
    font-size: 14px;
    font-weight: 200;
    text-align: justify;
    color: #f0f0f0;
}

/* ===================== SECTION POPULAR ===================== */
.section-popular {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-popular h2 {
    font-size: 28px;
}

.popular-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.popular-item {
    display: flex;
    gap: 15px;
}

.popular-item img {
    width: 30%;
    height: 100%;
    object-fit: cover;
}

.popular-item-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.position {
    font-size: 24px;
    font-weight: bold;
    color: #db706e;
}

.popular-item-content h3 {
    font-size: 16px;
    text-align: justify;
}

.popular-item-content p {
    font-size: 14px;
    text-align: justify;
    color: #333;
}

/* ===================== HOVER ===================== */
.nav a:hover {
    background-color: #e7e6e6;
    cursor: pointer;
}

.new-article-details a:hover {
    background-color: #c65b5b;
    cursor: pointer;
}

.aside-item h3:hover {
    color: #333;
    cursor: pointer;
}

.popular-item h3:hover {
    color: #cecece;
    cursor: pointer;
}

/* ===================== TABLET ===================== */
@media (min-width: 768px) and (max-width: 938px) {
    .popular-items {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* ===================== MOBILE (MEDIUM) ===================== */
@media (min-width: 481px) and (max-width: 767px) {
    body {
        padding: 30px;
    }

    .new-article {
        width: 60%;
    }

    .new-article-content {
        flex-direction: column;
    }

    .new-article-content h2 {
        width: 100%;
        text-align: center;
    }

    .new-article-details {
        width: 100%;
        align-items: center;
    }

    .new-aside {
        width: 40%;
    }

    .popular-items {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* ===================== MOBILE (SMALL) ===================== */
@media (max-width: 480px) {
    body {
        padding: 20px;
    }

    .header {
        flex-direction: column;
        gap: 20px;
    }

    .header-content {
        width: 100%;
    }

    .nav {
        position: relative;
        display: none;
        background-color: #cecece;
        flex-direction: column;
        width: 100%;
    }

    .icon-menu {
        display: flex;
    }

    .nav a {
        padding: 10px 15px;
    }

    .section-new {
        flex-direction: column;
        gap: 50px;
    }

    .new-article,
    .new-aside {
        width: 100%;
    }

    .new-article-content {
        flex-direction: column;
    }

    .new-article-content h2,
    .new-article-details {
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .section-popular {
        gap: 30px;
    }

    .section-popular h2 {
        text-align: center;
    }

    .popular-items {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}